[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
statsmodels = "==0.8.0"
plotnine = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.6"
